<!-- NAV BAR -->
<div class="row">
	<div class="col-md-12" id="navbar">
		<img src="img/logo-4k.png" class="idleHackerNav">
		<a ng-href="#/logout" class="logout">Logout</a>
		<div class="saveButton" ng-click="saveGame()">SAVE</div>
		<div class="deleteButton" ng-click="deleteStats()">DELETE</div>
	</div>
</div>

<div class="container-fluid">
	<!--CURRENCY CONTAINER-->
	<div class="row">
		<div class="currencyContainer" class="col-md-12">
			<img src="img/currency-holder.png" class="currencyHolder">
			<div id="currency">
			</div>
			<div id="mpsCounter"></div>
		</div>
	</div>

	<!--CLICK AREA-->
	<div class="row">
		<div id="clickAreaContainer" class="col-md-12">
			<p id="clickAmountDisplay"></p>
			<img src="img/devRoom.png" class="desk">
		</div>
	</div>

	<!--UPGRADE ROW 1-->
	<div class="row">
		<div class="upgradeAreaContainer">
			<div class="upgradeContainer">
				<div id="upgradeArea1">
					<img src="img/clickPowerFrame.png" class="clickFrame">
					<h4 id="CodePower"></h4><p id="codeLvl" ></p>
					<h5 id="codeUpgradeCost"></h5>
					<p id="clickToolTip"></p>
				</div>	
			</div>
			
			<div class="upgradeContainer">
				<div id="upgradeArea2">
					<img src="img/mountainDewFrame.png" class="dewFrame">
					<h4 id="mountainDew"></h4><p id="mountainDewLvl"></p>
					<h5 id="mountainDewCost"></h5>
					<p id="mps1ToolTip"></p>
				</div>	
				
			</div>
		</div>
	</div>
	<!--UPGRADE ROW 2-->
	<div class="row">
		<div class="upgradeAreaContainer">
			<div id="upgradeArea3">
			<img src="img/shortcutKeysFrame.png" class="shortcutFrame">
				<h4 id="shortcutKeys"></h4><p id="shortcutKeysLvl"></p>
				<h5 id="shortcutKeysCost"></h5>
				<p id="mps2ToolTip"></p>
			</div>

			<div id="upgradeArea4">
				<h4 id="Angular">Learn Angular</h4><p id="angularLvl"></p>
				<h5 id="angularCost"></h5>
				<p id="mps3ToolTip"></p>
			</div>
		</div>
	</div>


</div>