<!-- NAV BAR -->
<div ng-include="'./partials/nav.html'" ng-controller="navCtrl">
</div>

<div class="container-fluid">
	<!--CURRENCY CONTAINER-->
	<div class="row">
		<div class="currencyContainer" class="col-md-12">
			<img src="img/currency-holder.png" class="currencyHolder">
			<div id="currency">
			</div>
			<div id="mpsCounter"></div>
		</div>
	</div>

	<!--SCREEN CONTAINER-->
	<div class="row" ng-hide="true">
		<div class="screenshotContainer" class="col-md-12">
			<div id="screenshot"></div>
		</div>
	</div>

	<!--CLICK AREA-->
	<div class="row">
		<div id="clickAreaContainer" class="col-md-12">			<img src="img/devRoom.png" class="desk">
		</div>
	</div>

	<!--UPGRADE ROW 1-->
	<div class="row">
		<div class="upgradeAreaContainer">
			<div class="upgradeContainer">
				<div id="upgradeArea1">
					<img src="img/clickPowerFrame.png" class="clickFrame">
					<h4 id="CodePower"></h4><p id="codeLvl"></p>
					<h5 id="codeUpgradeCost"></h5>
					<p id="clickToolTip"></p>
				</div>	
			</div>
			
			<div class="upgradeContainer">
				<div id="upgradeArea2">
					<h4 id="mountainDew">Mountain Dew</h4><p id="mountainDewLvl"></p>
					<h5 id="mountainDewCost"></h5>
					<p id="mps1ToolTip"></p>
				</div>	
				
			</div>
		</div>
	</div>
	<!--UPGRADE ROW 2-->
	<div class="row">
		<div class="upgradeAreaContainer">
			<div id="upgradeArea3">
				<h4 id="shortcutKeys">Shortcut Keys</h4><p id="shortcutKeysLvl"></p>
				<h5 id="shortcutKeysCost"></h5>
				<p id="mps2ToolTip"></p>
			</div>

			<div id="upgradeArea4">
				<h4 id="Angular">Learn Angular</h4><p id="angularLvl"></p>
				<h5 id="angularCost"></h5>
				<p id="mps3ToolTip"></p>
			</div>
		</div>
	</div>


</div>