/**************
NAVBAR
**************/

#navbar {
	background-image: url("img/nav-bar.png");
	height: 70px;
}
 body {
 	background: #1e1e1e;
 }

.idleHackerNav {
	height: 60px;
	width: 250px;
}

.logout {
	float: right;
	font-size: 20px;
	background: rgba(45, 45, 45, .8);
	border-radius: 3px;
	height: 50px;
	width: 100px;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	color: #eaeaea;
}

.logout:hover {
	background: rgba(45, 45, 45, 1);
	color: #eaeaea;
}

.saveButton {
  height: 30px;
  width: 100px;
  color: white;
  background: green;
}

.deleteButton {
  height: 30px;
  width: 100px;
  color: white;
  background: red;
  position: relative;
  z-index: 1000000;
}

/****************
BACKGROUND IMAGE
****************/
.logoContainer {
	width: 100%;
	height: 10px;
}

.logoLogin {
	height: 300px;
	width: 1200px;
	margin: 0 auto;
	opacity: .15;
	margin: 0 auto;
	display: block;
	position: relative;
	bottom: 350px;
	z-index: -100;
}


/**************
LOGIN BODY
**************/
.loginTitle {
  border-radius: 7px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top: 60px;
	color: #e1e1e1;
	background: rgba(45, 45, 45, .8);
}

.loginText {
	text-align: center;
	padding-top: 20px;
}

.google {
	height: 250px;
	width: 55%;
  margin: 0 auto;
	left: 420px;
	top: 140px;
	display: block;
	max-width: 100%;
  border-radius: 50%;
}


/**************
LOGIN BUTTON
**************/

.buttRow {
	width: 100%;
  display: inline-box;
  display: inline-flex;
}
.buttRow > div {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 0 15px;
  perspective: 1000px;
  margin: 0 auto;
}
.buttRow > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  top: 40px;
}
.buttRow > div > a::before, .buttRow > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 160px;
  height: 50px;
  position: absolute;
  border: 3px solid rgba(0, 0, 0, .8);
  box-sizing: border-box;
  content: "Login";
  display: box;
  display: flex;
  border-radius: 2px;
}
.buttRow > div > a::before {
  background-color: #5391c9;
  color: #fff;
  transform: rotateY(0deg) translateZ(0px);
}
.buttRow > div > a::after {
  background-color: #c98b53;
  border-color: #1e1e1e;
  color: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
.buttRow > div > a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.buttRow {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}


/**************
CLICKER BODY
**************/

#clickArea {
  margin: 0 auto;
}

.desk {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 450px;
  width: 650px;
  top: 150px;
  left: 40px;
}

.desk::selection {
  background-color: transparent;
}

#clickAmountDisplay::selection {
  background: transparent;
}

#clickAmountDisplay {
  position: absolute;
  color: white;
  font-family: 'Press Start 2P', cursive;
  z-index: 1000;
  font-size: 20px;
}


/******************
CURRENCY CONTAINER
*******************/

.currencyHolder {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
  height: 100px;
}

.currencyContainer {
  overflow: hidden;
  position: fixed;
  margin-left: 35%;
  z-index: 1000;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .1));
  height: 200px
}

.currencyFont {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.mpsFont {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#currency {
  position: relative;
  margin: 0 auto;
  width: 40px;
  bottom: 85px;
  right: 80px;
}

#mpsCounter {
  margin: 0 auto;
  position: relative;
  left: 50px;
  bottom: 50px;
  width: 200px;
  height: 50px;
}


/******************
SCREENSHOT CONTAINER
*******************/

.screenshotContainer {
  background: grey;
  margin-top: 20px;
}

#screenshot {
  background: orange;
  height: 200px;
  width: 300px;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 10px;
}


/******************
CLICKER CONTAINER
*******************/

#clickAreaContainer {
  margin-top: 20px;
}

#clickArea {
  height: 180px;
  width: 100px;
  margin: 0 auto;
}

/******************
UPGRADES CONTAINER
*******************/

.upgradeAreaContainer {
  position: relative;
  top: 130px;
  margin-top: 20px;
}

/*
  UPGRADE 1
*/

#upgradeArea1 {
  position: relative;
  float: left;
  height: 130px;
  width: 350px;
  left: 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#codeLvl {
  position: relative;
  bottom: 115px;
  left: 300px;
}

#clickToolTip {
  position: relative;
  font-size: 12px;
  left: 120px;
  bottom: 90px;
}

#codeUpgradeCost {
  position: relative;
  bottom: 90px;
  left: 120px;
}

.clickFrame {
  height: 130px;
  width: 350px;
  position: relative;
  display: block;
}

.clickFrame::selection {
  background: transparent;
}

#CodePower {
  margin-right: 0;
  display: inline;
}

#codeLvl {
  display: inline;
  margin-left: 10px; 
}

/*
  UPGRADE 2
*/

#upgradeArea2 {
  position: relative;
  float: right;
  height: 130px;
  width: 350px;
  right: 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#mountainDewLvl {
  position: relative;
  bottom: 120px;
  left: 295px;
  font-size: 15px;
}

#mps1ToolTip {
  position: relative;
  font-size: 12px;
  left: 130px;
  bottom: 90px;
}

.dewFrame {
  height: 130px;
  width: 350px;
  position: relative;
  display: block;
}

.dewFrame::selection {
  background: transparent;
}

#mountainDewLvl {
  display: inline;
  margin-left: 10px;
}

#mountainDewCost {
  position: relative;
  bottom: 90px;
  left: 130px;
}

/*
  UPGRADE 3
*/

#upgradeArea3 {
  position: relative;
  float: left;
  height: 130px;
  width: 350px;
  left: 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#shortcutKeysLvl {
  position: relative;
  bottom: 110px;
  left: 295px;
  font-size: 15px;
}

#shortcutKeysCost {
  position: relative;
  bottom: 90px;
  left: 130px;
}

#mps2ToolTip {
  position: relative;
  font-size: 12px;
  left: 130px;
  bottom: 90px;
}

.shortcutFrame {
  height: 130px;
  width: 350px;
  position: relative;
  display: block;
}

#shortcutKeys {
  display: inline;
  margin-right: 0;
}

#shortcutKeysLvl {
  display: inline;
  margin-left: 10px;
}

/*
  UPGRADE 4
*/

#upgradeArea4 {
  position: relative;
  float: right;
  height: 100px;
  width: 300px;
  background: orange;
  right: 50px;
}

#Angular {
  display: inline;
  margin-right: 0;
}

#angularLvl {
  display: inline;
  margin-left: 10px;
}








